<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador de Peajes</title>
    <link rel="stylesheet" href="../css/adm.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>
<div class="container">
    <header class="header">
        <h1>Panel de Administración</h1>
        <nav class="nav-bar">
            <a href="#usuarios" data-section="usuarios">Gestión de Usuarios</a>
            <a href="#peajes" data-section="peajes">Gestión de Peajes</a>
            <a href="#vehiculos" data-section="vehiculos">Categoria Vehiculo</a>
            <a href="#tarifas" data-section="tarifas">Tarifa</a>
            <a href="#transacciones" data-section="transacciones">Transacciones</a>
            <a href="#pago-peaje" data-section="pago-peaje">Pago de Peaje</a>
            <a href="#tipoPago" data-section="tipoPago">Tipo de Pago</a>
            <a href="#telepass" data-section="telepass">Gestión de Telepass</a>


            <!-- Otros enlaces omitidos por brevedad -->
            <a href="#salir"  data-section="salir">Salir</a>
        </nav>
    </header>
    <main class="main-content">
        <section id="usuarios" class="content-section" style="display: none;">
            <h2>Gestión de Usuarios</h2>
            <div class="table-container">
                <table id="usuariosTable">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Cédula</th>
                        <th>Correo</th>
                        <th>Fecha de Nacimiento</th>
                        <th>Género</th>
                        <th>Role</th>
                    </tr>
                    </thead>
                    <tbody id="usuariosTableBody">
                    <!-- Aquí se llenará dinámicamente -->
                    </tbody>
                </table>
                <p id="emptyMessage" style="display: none;">No hay información</p>
            </div>
        </section>
        <section id="peajes" class="content-section" style="display: none;">
            <h2>Gestión de Peajes</h2>
            <button id="btnMostrarFormCrearPeaje">Crear Nuevo Peaje</button>
            <div id="formCrearPeaje" style="display: none;">
                <h3>Crear Nueva Zona de Peaje</h3>
                <form id="crearPeajeForm">
                    <label for="nombrePeaje">Nombre de la Zona:</label>
                    <input type="text" id="nombrePeaje" name="nombrePeaje" required>
                    <button type="submit">Crear Zona</button>
                </form>
            </div>
            <div id="formActualizarPeaje" style="display: none;">
                <h3>Actualizar Zona de Peaje</h3>
                <form id="actualizarPeajeForm">
                    <input type="hidden" id="peajeIdActualizar" name="peajeIdActualizar">
                    <label for="nombrePeajeActualizar">Nombre de la Zona:</label>
                    <input type="text" id="nombrePeajeActualizar" name="nombrePeajeActualizar" required>
                    <button type="submit">Actualizar Zona</button>
                </form>
            </div>
            <div class="table-container">
                <table id="peajesTable">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Zona</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody id="peajesTableBody">
                    <!-- Aquí se llenará dinámicamente -->
                    </tbody>
                </table>
                <p id="emptyMessagePeajes" style="display: none;">No hay información de peajes</p>
            </div>
        </section>
        <section id="vehiculos" class="content-section" style="display: none;">
            <h2>Gestión de Categorías de Vehículos</h2>
            <button id="btnMostrarFormCrearVehiculoCategoria">Crear Nueva Categoría</button>
            <div id="formCrearVehiculoCategoria" style="display: none;">
                <h3>Crear Nueva Categoría de Vehículo</h3>
                <form id="crearVehiculoCategoriaForm">
                    <label for="nombreVehiculoCategoria">Nombre de la Categoría:</label>
                    <input type="text" id="nombreVehiculoCategoria" name="nombreVehiculoCategoria" required>
                    <button type="submit">Crear Categoría</button>
                </form>
            </div>
            <div id="formActualizarVehiculoCategoria" style="display: none;">
                <h3>Actualizar Categoría de Vehículo</h3>
                <form id="actualizarVehiculoCategoriaForm">
                    <input type="hidden" id="vehiculoCategoriaIdActualizar" name="vehiculoCategoriaIdActualizar">
                    <label for="nombreVehiculoCategoriaActualizar">Nombre de la Categoría:</label>
                    <input type="text" id="nombreVehiculoCategoriaActualizar" name="nombreVehiculoCategoriaActualizar" required>
                    <button type="submit">Actualizar Categoría</button>
                </form>
            </div>

            <div class="table-container">
                <table id="vehiculoCategoriasTable">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Categoría</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody id="vehiculoCategoriasTableBody">
                    <!-- Aquí se llenará dinámicamente -->
                    </tbody>
                </table>
                <p id="emptyMessageVehiculoCategorias" style="display: none;">No hay información de categorías</p>
            </div>
        </section>
        <section id="tarifas" class="content-section" style="display: none;">
            <h2>Gestión de Tarifas</h2>
            <button id="btnMostrarFormCrearTarifa">Crear Nueva Tarifa</button>
            <div id="formCrearTarifa" style="display: none;">
                <h3>Crear Nueva Tarifa</h3>
                <form id="crearTarifaForm">
                    <label for="montoTarifa">Monto:</label>
                    <input type="number" step="0.01" id="montoTarifa" name="montoTarifa" required>

                    <label for="vehiculoTarifa">Categoría de Vehículo:</label>
                    <select id="vehiculoTarifa" name="vehiculoTarifa" required>
                        <!-- Options will be populated dynamically -->
                    </select>

                    <label for="zonaTarifa">Zona:</label>
                    <select id="zonaTarifa" name="zonaTarifa" required>
                        <!-- Options will be populated dynamically -->
                    </select>

                    <button type="submit">Crear Tarifa</button>
                </form>
            </div>
            <div id="formActualizarTarifa" style="display: none;">
                <h3>Actualizar Tarifa</h3>
                <form id="actualizarTarifaForm">
                    <input type="hidden" id="tarifaIdActualizar" name="tarifaIdActualizar">

                    <label for="montoTarifaActualizar">Monto:</label>
                    <input type="number" step="0.01" id="montoTarifaActualizar" name="montoTarifaActualizar" required>

                    <label for="vehiculoTarifaActualizar">Categoría de Vehículo:</label>
                    <select id="vehiculoTarifaActualizar" name="vehiculoTarifaActualizar" required>
                        <!-- Options will be populated dynamically -->
                    </select>

                    <label for="zonaTarifaActualizar">Zona:</label>
                    <select id="zonaTarifaActualizar" name="zonaTarifaActualizar" required>
                        <!-- Options will be populated dynamically -->
                    </select>

                    <button type="submit">Actualizar Tarifa</button>
                </form>
            </div>
            <div class="table-container">
                <table id="tarifasTable">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Monto</th>
                        <th>Vehículo</th>
                        <th>Zona</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody id="tarifasTableBody">
                    <!-- Rows will be populated dynamically -->
                    </tbody>
                </table>
                <p id="emptyMessageTarifas" style="display: none;">No hay información de tarifas</p>
            </div>
        </section>
        <section id="transacciones" class="content-section" style="display: none;">
            <h2>Transacciones de Pagos</h2>
            <div class="table-container">
                <table id="transaccionesTable">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Usuario</th>
                        <th>Vehículo</th>
                        <th>Zona</th>
                        <th>Monto</th>
                        <th>Fecha de Pago</th>
                    </tr>
                    </thead>
                    <tbody id="transaccionesTableBody">
                    <!-- Aquí se llenará dinámicamente -->
                    </tbody>
                </table>
                <p id="emptyMessageTransacciones" style="display: none;">No hay transacciones de pagos</p>
            </div>
        </section>
        <section id="pago-peaje" class="content-section" style="display: none;">
            <h2>Pago de Peaje</h2>
            <div id="pagoForm">
                <form id="realizarPagoForm">
                    <label for="placaVehiculo">Placa del Vehículo:</label>
                    <input type="text" id="placaVehiculo" name="placaVehiculo" required>

                    <label for="zonaPeaje">Zona de Peaje:</label>
                    <select id="zonaPeaje" name="zonaPeaje" required>
                        <option value="" disabled selected>Seleccionar Zona de Peaje</option>
                        <!-- Options se cargarán dinámicamente -->
                    </select>
                </form>
            </div>
            <div id="resultadoTarifa" style="display: none;">
                <h3>Tarifa Efectiva:</h3>
                <input type="text" id="tarifaEfectiva" disabled>
                <button id="btnPagar" style="display: none;">Pagar</button>
            </div>
        </section>
        <section id="tipoPago" class="content-section" style="display: none;">
            <h2>Gestión de Tipos de Pago</h2>

            <!-- Botón para mostrar el formulario de crear tipo de pago -->
            <button id="btnMostrarFormCrearTipoPago">Crear Nuevo Tipo de Pago</button>

            <!-- Formulario para crear nuevo tipo de pago -->
            <div id="formCrearTipoPago" style="display: none;">
                <h3>Crear Nuevo Tipo de Pago</h3>
                <form id="crearTipoPagoForm">
                    <label for="nombreTipoPago">Nombre del Tipo de Pago:</label>
                    <input type="text" id="nombreTipoPago" name="nombreTipoPago" required>
                    <button type="submit">Crear Tipo de Pago</button>
                </form>
            </div>

            <!-- Formulario para actualizar tipo de pago -->
            <div id="formActualizarTipoPago" style="display: none;">
                <h3>Actualizar Tipo de Pago</h3>
                <form id="actualizarTipoPagoForm">
                    <input type="hidden" id="tipoPagoIdActualizar" name="tipoPagoIdActualizar">
                    <label for="nombreTipoPagoActualizar">Nombre del Tipo de Pago:</label>
                    <input type="text" id="nombreTipoPagoActualizar" name="nombreTipoPagoActualizar" required>
                    <button type="submit">Actualizar Tipo de Pago</button>
                </form>
            </div>

            <!-- Tabla para mostrar la lista de tipos de pago -->
            <div class="table-container">
                <table id="tipoPagoTable">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody id="tipoPagoTableBody">
                    <!-- Aquí se llenará dinámicamente -->
                    </tbody>
                </table>
                <p id="emptyMessageTipoPago" style="display: none;">No hay información de tipos de pago</p>
            </div>
        </section>
        <section id="telepass" class="content-section" style="display: none;">
            <h2>Gestión de Telepasses</h2>

            <!-- Tabla para mostrar la lista de Telepasses -->
            <div class="table-container">
                <table id="telepassTable">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Usuario</th>
                        <th>Vehiculo</th>
                        <th>Activo</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody id="telepassTableBody">
                    <!-- Aquí se llenará dinámicamente -->
                    </tbody>
                </table>
                <p id="emptyMessageTelepass" style="display: none;">No hay información de Telepasses</p>
            </div>
        </section>
        <section id="salir" class="content-section">
            <h2>¿Deseas salir?</h2>
            <button class="salirFo">Salir</button>
        </section>

        <!-- Otras secciones omitidas por brevedad -->
    </main>
</div>
<script src="../js/adm.js"></script>
</body>
</html>
