<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar Contraseña</title>
    <link rel="stylesheet" href="../css/cContrasena.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>
<body>
<section class="home show">
    <div class="form_container">
        <i class="uil uil-times form_close"></i>
        <div class="form cContraseña-form">
            <form id="changePasswordForm">
                <h2>Cambiar Contraseña!</h2>
                <div class="input_box">
                    <input type="password" id="newPassword" placeholder="Nueva Contraseña" required>
                    <i class="uil uil-lock password"></i>
                    <i class="uil uil-eye-slash pw_hide" onclick="togglePasswordVisibility('newPassword', this)"></i>
                </div>
                <div class="input_box">
                    <input type="password" id="confirmPassword" placeholder="Confirmar Nueva Contraseña" required>
                    <i class="uil uil-lock password"></i>
                    <i class="uil uil-eye-slash pw_hide" onclick="togglePasswordVisibility('confirmPassword', this)"></i>
                </div>
                <button type="submit" id="submitButton">Cambiar Contraseña</button>
            </form>
        </div>
    </div>
</section>
<script src="../js/cContrasena.js"></script>
</body>
</html>
