<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" href="../css/recuperarEmail.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>

<body>
<section class="home show">
    <div class="form_container">
        <i class="uil uil-times form_close"></i>
        <div class="form rContraseña-form">
            <form id="recoveryForm">
                <h2>Recuperar Contraseña</h2>
                <div class="input_box">
                    <i class="uil uil-envelope email"></i>
                    <input type="email" id="email" placeholder="E-mail" required>
                </div>
                <button type="submit" id="submitButton">Solicitar</button>
            </form>
        </div>
    </div>
</section>
<script src="../js/recuperarEmail.js"></script>
</body>
</html>
