<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Interfaz Usuario</title>
  <link rel="stylesheet" href="../css/usuario.css" />
</head>

<body>
<header>
  <h1>INTERFAZ USUARIO</h1>
  <br />
  <nav>
    <ul>
      <li><a href="#" onclick="showSection('pago')">Pago</a></li>
      <li><a href="#" onclick="showSection('historial')">Historial Pagos</a></li>
      <li><a href="#" onclick="showSection('ingresar')">Ingresar Vehículo</a></li>
      <li><a href="#" onclick="showSection('telepass')">Telepass</a></li>
      <li><a href="#" onclick="showSection('misVehiculos')">Mis Vehículos</a></li>
      <li><a href="#" onclick="showSection('recargar-telepass')">Recargar Telepass</a></li>
      <li><a href="#" onclick="showSection('salir')">Salir</a></li>
    </ul>
  </nav>
</header>

<main>
  <section id="pago" class="content">
  <h2>Realizar Pago</h2>
  <form id="form-pago">
    <label for="peaje">Peaje:</label>
    <select id="peaje"></select>
    <label for="vehiculo">Vehículo:</label>
    <select id="vehiculo"></select>
    <div id="telepass-message"></div>
    <label for="tarifa">Tarifa:</label>
    <input type="text" id="tarifa" readonly>
    <button type="submit">Pagar</button>
  </form>
</section>


  <section id="misVehiculos" class="content" style="display:none;">
    <h2>Mis Vehículos</h2>
    <table id="vehiculos-table">
      <thead>
      <tr>
        <th>Modelo</th>
        <th>Marca</th>
        <th>Placa</th>
        <th>Color</th>
        <th>Categoría</th>
      </tr>
      </thead>
      <tbody id="vehiculos-table-body">
      <!-- Filas dinámicas se agregarán aquí -->
      </tbody>
    </table>
  </section>


  <section id="historial" class="content">
    <h2>Historial Pagos</h2>
    <table id="historial-table">
      <thead>
      <tr>
        <th>Fecha</th>
        <th>Monto</th>
        <th>Vehículo</th>
        <th>Peaje</th>
      </tr>
      </thead>
      <tbody id="historial-table-body">
      <!-- Aquí se agregarán las filas dinámicamente -->
      </tbody>
    </table>
  </section>


  <section id="ingresar" class="content">
    <h2>Ingresar Vehículo</h2>
    <form id="form-vehiculo">
      <label for="modelo">Modelo:</label>
      <input type="text" id="modelo" required />
      <label for="marca">Marca:</label>
      <input type="text" id="marca" required />
      <label for="placa">Placa:</label>
      <input type="text" id="placa" required />
      <label for="color">Color:</label>
      <input type="text" id="color" required />
      <label for="categoria">Categoría:</label>
      <select id="categoria" required>
        <!-- Opciones dinámicas serán cargadas aquí -->
      </select>
      <button type="submit">Registrar</button>
    </form>
  </section>

  <section id="editar" class="content">
    <h2>Editar Perfil</h2>
    <form id="form-editar">
      <label for="cedula">Cédula o RUC:</label>
      <input type="text" id="cedula" value="" readonly />
      <label for="nombre">Nombres completos:</label>
      <input type="text" id="nombre" value="" required />
      <label for="apellido">Apellido:</label>
      <input type="text" id="apellido" value="" required />
      <label for="correo">Correo electrónico:</label>
      <input type="email" id="correo" value="" readonly />
      <label for="fecha">Fecha Nacimiento:</label>
      <input type="date" id="fecha" readonly />
      <label for="sexo">Sexo:</label>
      <input type="text" id="sexo" readonly />
      <button type="submit">Guardar cambios</button>
    </form>
    <h3>Cambio de Contraseña</h3>
    <form id="form-contrasena">
      <label for="contrasena_actual">Contraseña Actual:</label>
      <input
              type="password"
              id="contrasena_actual"
              placeholder="Ingresar..."
              required
      />
      <label for="nueva_contrasena">Nueva Contraseña:</label>
      <input
              type="password"
              id="nueva_contrasena"
              placeholder="Ingresar..."
              required
      />
      <button type="submit">Cambiar contraseña</button>
    </form>
  </section>

  <section id="telepass" class="content" >
    <h2>Gestión de Telepasses</h2>

    <!-- Selección de vehículos del usuario -->
    <div>
      <h3>Seleccione un Vehículo</h3>
      <select id="selectVehiculo">
        <!-- Aquí se llenará dinámicamente -->
      </select>
    </div>

    <!-- Botón para solicitar Telepass -->
    <div>
      <button id="solicitarTelepassBtn">Solicitar Telepass</button>
    </div>

    <!-- Tabla para mostrar la lista de Telepasses -->
    <div class="table-container">
      <table id="telepassTable">
        <thead>
        <tr>
          <th>ID</th>
          <th>Usuario </th>
          <th>Vehiculo </th>
          <th>Saldo </th>
          <th>Activo</th>
        </tr>
        </thead>
        <tbody id="telepassTableBody">
        <!-- Aquí se llenará dinámicamente -->
        </tbody>
      </table>
      <p id="emptyMessageTelepass" style="display: none;">No hay información de Telepasses</p>
    </div>
  </section>
  <section id="recargar-telepass" class="content">
    <h2>Recargar Telepass</h2>
    <form id="form-recarga-telepass">
      <label for="telepass">Telepass:</label>
      <select id="telepassselect"></select>

      <label for="tipo-pago">Tipo de Pago:</label>
      <select id="tipo-pago"></select>

      <label for="monto">Monto:</label>
      <input type="number" id="monto" min="0" step="0.01">

      <button type="submit">Recargar</button>
    </form>
  </section>




  <section id="salir" class="content">
    <h2>¿Deseas salir?</h2>
    <button class="salirFo">Salir</button>
  </section>
</main>
<script src="../js/usuario.js"></script>


</body>
</html>
